###> project-private ###
CHALLENGE_DEBRIEF.MD
CLAUDE.md
.claude/
EXECUTION_PLAN*.md
.cursor/
.aider
.continue/
###< project-private ###

###> symfony ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony ###

###> phpunit ###
/phpunit.xml
/.phpunit.cache/
.phpunit.result.cache
###< phpunit ###

###> docker ###
/docker-compose.override.yml
/compose.override.yaml
###< docker ###
